**/storybook-static
**/.docusaurus
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.env
**/.env.local
**/.editorconfig
**/.aws
**/bin
**/obj
**/.turbo
**/manifest
**/infrastructure
**/api-gateway
**/automation-test
**/node_modules
**/.next
data
